{% if user.is_authenticated %}
    Se desejar mostrar algo com o usuario logado em QUALQUER template...
    <br />
    <a href="/dashboard/">Painel do Cliente</a>
    <br />
    <a href="/logoff/">Clique aqui para Sair</a>
    <br />
{% endif %}


{% load staticfiles %} <!-- PARA USAR O CAMINHO PADRAO STATIC_URL -->

<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">

    <title>{% block titulo %}{% endblock titulo %} - SuperTáxi</title>

    </head>

  <body>
    <!-- MENU -->
    <a href="/login/">Página Inicial</a>
    <!-- FIM MENU -->
    <br />
    <hr>
      <!-- CONTEUDO -->
        {% block conteudo %}{% endblock conteudo %}
      <!-- FIM CONTEUDO -->
    <hr>

    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; SuperTáxi</div>
    </footer>
    <!-- FIM RODAPE -->

    <!-- JavaScript -->
 
    <!-- FIM JavaScript -->
    
  </body>
</html>